<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="content-language" content="en" />
<meta http-equiv="content-type" content="Type=text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>

<meta name="description" content="Personal site of {{site.author.name}}">

<meta name="google-site-verification" content="{{site.google_site_verification}}" />
<meta name="msvalidate.01" content="{{site.bing_site_verification}}" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<!--<link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css" />-->

<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/academicons-1.7.0/css/academicons.css" />

<!--<script type="text/javascript" src='/assets/js/bootstrap.min.js'></script>-->
<!--<script type="text/javascript" src='/assets/js/jquery-1.12.4.min.js'></script>-->

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>
http://

<title>{{site.author.name}} {{site.title_separator}} {{site.title}}</title>

{% include google-universal.html %}
