<h1>Experiences</h1>
{% for item in site.data.positions %}
    <h2>{{item.title}} / {{item.companyName}} ({{item.startDate}}-{{item.endDate}})</h2>
    <p>{{item.description}}</p>
{% endfor %}

<h1>Education</h1>
{% for item in site.data.education %}
    <h4>{{item.degreeName}} / {{item.schoolName}} / {{item.startDate}}-{{item.endDate}}</h4>
{% endfor %}

<h1>Honors</h1>
{% for item in site.data.honors %}
    <h4>{{item.title}} / {{item.issueDate}}</h4>
{% endfor %}

<h1>Publications</h1>
{% for item in site.data.publications %}
    <div class="publication">
        <h4><a target="_blank" href="{{item.url}}">{{item.name}} {{item.publisher}} ({{item.date}})</a></h4>

        <!--
        <p><a class="toggle" title="{{item.name}}" href="#">(Show/Hide Details)</a></p>

        <div id="{{item._id}}" style="display: none">
            <p>{{item.description}}</p>
        </div>
        -->
    </div>
{% endfor %}
