  <h1>{{ site.author.name }}</h1>
  <h2 class="headline">{{ site.data.profile.headline }}</h2>

  <div id="landing-entry">
      <h4>{{ site.author.email }}</h4>
  </div>
  <div id="landing-list">
      <ul>
          <li><a id="linkedin" class="landingListEntry" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
          <li><a id="github" class="landingListEntry" href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github-square"></i> GitHub</a></li>
          <li><a id="twitter" class="landingListEntry" href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a id="google-scholar" class="landingListEntry" href="https://scholar.google.com/citations?user={{ site.author.google_scholar }}" target="_blank"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></li>
          <li><a id="blog" class="landingListEntry" href="http://blog.lunean.com" target="_blank"><i class="fa fa-pencil-square"></i> Blog</a></li>
          <li>&nbsp;</li>
          <li><a id="random-walks" class="landingListEntry" href="http://randomwalks.lunean.com" target="_blank"><i id="redSquare" class="fa fa-square"></i> Random Walks Exhibit</a></li>
      </ul>
  </div>
